#b {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

#inner button {
	border: 2px solid green;
	padding: 2em;
	background-color: rgba(7, 207, 7, 0.699);
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#progOuter {
	width: 100%;
	min-height: 1em;
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;
	background-color: grey;
}

#progInner {
	color: white;
	background-color: green;
	padding: 0.25em;
	width: 0;
	overflow: hidden;
}

#percent {
	display: inline;
}

.watch-btn {
	border: 2px solid cyan !important;
	background-color: rgba(0, 255, 255, 0.808) !important;
}

.remove-btn {
	border: 2px solid red !important;
	background-color: rgba(255, 0, 0, 0.808) !important;
}

video {
	width: 100%;
	height: 100vh;
}